<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Categorías</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cuentas.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
  <div class="dashboard-container">
    <aside class="sidebar">
      <div class="logo">FlaskBank</div>
      <nav class="menu">
        <a href="{{ url_for('index_rutas.home') }}"><i class="fas fa-home"></i> Inicio</a>
        <a href="{{ url_for('transaccion_rutas.registrar_transaccion') }}"><i class="fas fa-exchange-alt"></i> Transaccion</a>
        <a href="{{ url_for('usuario_rutas.logout') }}"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
      </nav>
    </aside>

    <main class="main-content">
      <header class="dashboard-header">
        <h2>Cuentas Bancarias</h2>
        <div class="header-actions">
          <button class="add-customer-btn" onclick="toggleForm('new-account-form')">
            <i class="fas fa-plus"></i> Nueva Tarjeta
          </button>
          <button class="add-customer-btn" onclick="toggleForm('new-category-form')">
            <i class="fas fa-plus"></i> Nueva Categoría
          </button>
        </div>
      </header>

      {% include 'components/form_cuenta.html' %}
      {% include 'components/form_categoria.html' %}
      {% include 'components/filtro_categoria.html' %}
      {% include 'components/tabla_categorias.html' %}

      <script src="{{ url_for('static', filename='js/categorias.js') }}" defer></script>
</body>
</html>