<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Iniciar Sesión</title>
</head>
<body>
    <header>
        <h1>Iniciar Sesión</h1>
    </header>
    <main>
        <form action="{{ url_for('usuario_rutas.login') }}" method="post">
            <label for="correo">Correo Electrónico:</label>
            <input type="email" name="correo" required>
            <label for="password">Contraseña:</label>
            <input type="password" name="password" required>
            <button type="submit">Iniciar Sesión</button>
        </form>
        <p>No tienes cuenta? <a href="{{ url_for('usuario_rutas.registrar_usuario') }}">Regístrate aquí</a></p>
    </main>
    <footer>
        <p>&copy; Gestor de Presupuestos 2024. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
